/*begin styles to control links in general on every page of the website unless otherwise specified*/
a:link {
   font-size:smaller;
   font-weight:bold;
   color:#42033D;
   text-decoration:underline;
}

a:visited {
    font-size:smaller;
    color: #42033D;
    text-decoration:underline;
}

a:active {
    color: #8A716A;
    font-size:large;
    text-decoration: none;
}

a:hover {
    background-color: #8E9AAF;
    text-decoration:none;    
}

/* end styles to control links in general on every page of the website unless otherwise specified*/
/* begin styles to control the header and menu options that belong at the top of every page on the website*/

#header {

	border:2px solid #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	background: #FFFFFF;
	display:block;
	position:inherit;
	text-align:center;
}

#header h1 {
	font-family: 'Goudy Old Style';
	font-size:300%;
	text-align:center;
}

#header h2 {
    font-family: 'Goudy Old Style';
    font-size:160%;
	text-align:center;

}

#menu {
    font-family: 'Goudy Old Style';
	text-align:center;

}

#menu ul {
	
	list-style-type:none;
    display:inline
}

#menu li {
	list-style-type:none;
    display:inline;
    padding:8px
}

#menu a:link, #menu a:visited {
	font-size:160%;
	font-weight:normal;
	color: #000000;
}

#menu a:hover {
	background-color: #B9929F;
	text-decoration: underline;
}

/* end styles to control the header and menu options that belong at the top of every page*/
/* begin styles to control the body of every page*/

body {
    background:#f7b6a1 /*#ffb299*/ /*#f0c8e6*/ /*#E0D8DE*/;
    margin: 1px;
    padding: 1px;
    border:2px dotted  #dd4513 /*#f39272*/  /*#a1e2f7*/ /*#42033D*/;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	
}

/* end styles to control the body of every page*/
/*begin style to control the footer ... displayed only on home page, but posssible on any page*/

#footer {
	display: block;
	clear: both;
	background: #FFFFFF;

	border:2px solid #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	position: relative;
	text-align:center;
}

/*end styles to control the footer*/
/* begin styles to control the home page*/


img {display:block; margin-left:auto; margin-right:auto  }

#image {width:100%;
   height:100%;
   margin-left: auto;
   margin-right:auto
  
}

#image ul {
   list-style-type:none; 
   margin-left: auto;
   margin-right:auto;
}

#image_text {display:block;
	margin-left: auto;
	margin-right:auto;
	padding:2px;
	color: #FFFFFF;
	background-color: #6A6262; 
	border:2px solid #FFFFFF;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	width:560px;
	text-align:center;
	font-size:100%;
	position:relative;
}

#content_text {
    
	margin-left:auto;
	margin-right:auto;
	padding:6px;
	border:2px dotted #B9929F;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	background: #6A6262;
	color:#FFFFFF;
	font-size: 1.2em;
}

/*end styles to control the home page*/
/*begin styles to control the about page*/

/*#content_about h1 {
	background:transparent;
	color:#93748A;
	padding:10px;
	margin:20px;
	text-align:center;
	}*/

#content_about h2{
    font-family: 'Goudy Old Style';
	background:transparent;
	padding:5px;
	margin:10px;
	text-align:center;
}

ul {
    margin: 5px;
    list-style-position: left;
}

#content_about {
    font-family: "Arial";
    padding: 10px;
}
#Source {border:6px outset #FFFFFF;
	border-radius:8px;
	padding:2px}
	
#Team {border:6px outset #FFFFFF;
    border-radius:8px;
    padding:2px}

#section {border:2px dotted #FFFFFF;
    border-radius:8px;
    margin:6px 1px 1px 1px;
	float:left;
	width:300px;
	text-align:left;
}

#section h1{
	color:#000000;
	padding:10px 10px 10px 10px;
	margin:13px -10px;	
	text-shadow:0 1px 0 #B9929F;
	text-align: center;
}

#section ul {
	padding:0px;
	list-style:none;
	margin:14px 0px;
	text-align:center;
}

#section li {
	margin:0px;
	padding:0px;
	list-style:none;
}

#section li a:link{
	float:left;
	width:96%;
	padding:3px 1%;
	color: #000000
} 

#section li a:hover {
	background:#93748A;
}

#content_articles {
    font-family: "Arial";
	width: 600px;
	float: right;
	padding:10px 20px 10px;
	text-align:center;
	margin: 6px 1px 1px 1px;
	border:3px solid #FFFFFF;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	background: #6A6262;
	color:#FFFFFF;
	font-size: 1.3em;
}

#headlines1 img {
	margin: 20px 20px 10px;
}

#content_books {
	border:3px dotted #FFFFFF;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	text-align:center;
}

#content_books h1 {
	color: #000000;
	text-shadow:0 1px 0 #B9929F;
	margin:50px 0px 50px;
	font-size:1.5em;
	text-align:center;
}

#book1 a:link, #book1 a:visited, #book2 a:link, #book2 a:visited {
	color: #FFFFFF;
	background:#6A6262; 
	text-align: left;
	font-size: 150%;
}

#book1 a:hover, #book2 a:hover {
	background:#93748A;
}

#book1 p, #book2 p {
	text-align: left;
	color: #000000;
	margin:5px;
	padding:5px;
}

#McEnnis_text h1, #McEnnis_text h2 {
    text-align: center;
}

#McEnnis_text ul {
	padding:0px;
	list-style-type:none;
}

#McEnnis_text li {
	margin:5px;
	padding:10px;
	list-style-type:none;
}


/*SD: This begins the css that controls the bars of the graph. It hides them and then the javascript switches their display to block*/
g g {display: none;}

g.sarcasmWit.on {display: block;}
g.pity.on {display: block;}
g.positive.on {display: block;}
g.offended.on {display: block;}
g.intimidated.on {display: block;}
g.negative.on {display: block;}
g.descriptionNeutral.on {display: block;}
g.angry.on {display: block;}
g.sexual.on {display: block;}
g.woe.on {display: block;}
g.prayer.on {display: block;}

