html{
    background-color: #f7b6a1;  
}
body{
    margin: 20px auto;
    padding:5px;
    display: block;
    min-height: 500px;
    min-width: 500px;
    max-height: 1250px;
    max-width: 1250px;
}

/*rjp: start styling for top and foot*/
#header{
    padding:10px 20px 20px;
	margin:10px auto;
	border:2px solid #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	background: #FFFFFF;
	display:block;
	position:inherit;
	text-align:center;
}
#header h1 {
	font-family: 'Yellowtail', cursive;
	font-size:300%;
	text-align:center;
}

#header h2 {
	margin:-10px 0px 20px;
	font-family: 'Goudy Old Style';
    font-size:160%;
	text-align:center;
}


#footer{
    position:relative;
    bottom:0;
    left:0;
    display: block;
	clear: both;
	background: #FFFFFF;
	border:2px solid #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	text-align:center;
}
/*rjp: end styling for top and foot*/

/*rjp: styling for article pages*/
#articleLinks {
    width:75%;
     margin: auto;
    padding:5px;
    text-align:center;    
    border:3px dotted #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;   
}
#articleLinks p{
font-size:16px;
line-height: 1;
}
#article {
    float:right;
    width: 60%;
}
#articleHead {
    margin:10px;
    padding: 5px;
    font-family: 'Goudy Old Style';
	text-align:center;
}
.headlinesText ul {
    font-family: sans-serif;
    margin: 10px;
    padding: 5px;
}
.headlinesText li {
    text-align:center;
    display:list-item;
    padding: 5px;
}

.articleText {
    margin:20px;
    padding:5px;
}
/*rjp: toggle box for articles*/
#checkboxes {
    margin: 10px;
    padding:5px;
    text-align: center;
    display: block;
    background:  #D1BEB0;
    border: 2px solid #E0D8DE;
}
#checkboxes h3, h4{
    margin:0px;
    padding:1px;
}
#checkboxes ul, li {
    list-style-type:none;
    display:inline;
    padding:25px;
}

/*rjp: table section styling*/
#table {
    float:left;
    width:40%;
    display: block;
}
#table table, p.tableText {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding:5px;
    text-align: center;
    border:3px dotted #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
}
#tableTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding:5px;
    text-align: center;
    border:3px dotted #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;    
}
#table br{
     display: block; 
     content: ""; 
     margin-top: 2px; 
}
#table tr {
   outline: 2px solid black;
   text-align: center;
   padding: 10px;
}
#table th {
    height: 40px;
    background-color: #E0D8DE;
    color: black;
    border: 2px solid black;
    text-align: center;
}
/*rjp: end styling for article pages*/
