/*begin styles to control links in general on every page of the website unless otherwise specified*/
a:link {
   font-size:smaller;
   font-weight:bold;
   color:#42033D;
   text-decoration:underline;
}

a:visited {
    font-size:smaller;
    color: #42033D;
    text-decoration:underline;
}

a:active {
    color: #8A716A;
    font-size:large;
    text-decoration: none;
}

a:hover {
    background-color: #8E9AAF;
    text-decoration:none;    
}

/* end styles to control links in general on every page of the website unless otherwise specified*/
html{
    background-color: #f7b6a1;  
}
body{
    margin: 20px auto;
    padding:5px;
    display: block;
    min-height: 500px;
    min-width: 500px;
    max-height: 1250px;
    max-width: 1250px;
}

/*rjp: start styling for top and foot*/
#header{
    padding:10px;
	margin:10px auto;
	border:2px solid #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	background: #FFFFFF;
	display:block;
	position:relative;
	text-align:center;
}
#header h1 {
	font-family: 'Yellowtail', cursive;
	margin-top:-10px;
	font-size:4.0em;
	text-transform:none;
	letter-spacing:0em;
	text-align:center;
}

#header h2 {
	margin-top: -40px;
	font-family: 'Goudy Old Style';
    font-size:2.0em;
	text-align:center;
}
#nav{
    margin: -20px;
    width: 100%;
    text-align:center;
    display:block;
}
#nav ul {
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
#nav ul ul {
       background: #FFFFFF;
	   border-radius: 0px;
	   padding: 0;
	   position: absolute;
	   top: 100%;
	   display: none;
}
#nav ul ul li a {
		padding: 15px 40px;
}
#nav ul li:hover > ul {
		display: block;
}
#nav ul ul li {
		float: none; 
		position: relative;
}
#nav ul:after {
		content: "";
		clear: both;
		display: block;
}
#nav ul li a {
		display: block;
		padding: 25px 40px;
}
#nav ul li {
	   float: left;
}
#nav li {
	margin:0px 20px;
	padding:10px;
	list-style-type:none;
	display:inline;
}
#nav a:hover {
    font-size:1.3em;
	background-color: #B9929F;
	text-decoration: underline;
}

#footer{
    position:relative;
    bottom:0;
    left:0;
    display: block;
	clear: both;
	background: #FFFFFF;
	border:2px solid #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
	text-align:center;
}
/*rjp: end styling for top and foot*/

/*rjp: styling for article pages*/
#articleLinks {
    width:75%;
    margin: auto;
    padding:5px;
    text-align:center;    
    border:3px dotted #e7e2d7;
	border-radius:8px;
	border-radius:.8em;
	border-radius:.8em;
}
#articleLinks p{
font-size:16px;
line-height: 1;
}
#articleHead {
    margin:10px;
    padding: 5px;
    font-family: 'Goudy Old Style';
	text-align:center;
}
.headlinesText ul {
    font-family: sans-serif;
    margin: 10px;
    padding: 5px;
}
.headlinesText li {
    text-align:center;
    display:list-item;
    padding: 5px;
}

.articleText {
     margin:20px;
    padding:5px;
}
/*rjp: toggle box for articles*/
#checkboxes {
    margin: 10px;
    padding:5px;
    text-align: center;
    display: block;
    background:  #D1BEB0;
    border: 2px solid #E0D8DE;
}
#checkboxes h3, h4{
    margin:0px;
    padding:1px;
}
#checkboxes ul, li {
    list-style-type:none;
    display:inline;
    padding:75px;
}
/*rjp: end styling for article pages*/